<!-- Navigation -->
{% assign navigation = site.data.navigation %}

<header class="masthead mb-auto">
  <div class="inner">
    <div class="row align-items-center">
      <div class="col-sm text-center">
          <img src="{{ navigation.brand }}" title="{{ navigation.title }}" />
      </div>
      <div class="col-sm">
        <nav class="nav nav-masthead justify-content-center">
            {% include live_alert.html %}
          
          {% for item in navigation.header %}
          <a class="nav-link {% if item.url == page.url %}active{% endif %}" href="{{ item.url }}"
            target="{{ item.target }}">{{ item.title }}</a>
          {% endfor %}
        </nav>
      </div>
    </div>
  </div>
</header>